<Configuration status="warn">
    <Appenders>
        <!-- Console Appender with default pattern -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
        </Console>
        <!-- Custom Appender with custom pattern -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss} %highlight{[%-6p] [%t] %c{3} - %m%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=Cyan}" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root Logger with ConsoleAppender -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender" />
        </Root>

        <Logger name="com.example.orderservice" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
    </Loggers>
</Configuration>